.contain {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  .containImage {
    grid-column-start: 1;
    grid-column-end: 2;
    img {
      width: 30rem;
      margin-top: 3rem;
      margin-left: 9rem;
    }

    p {
      font-family: Lexend, sans-serif;
      color: #3f53b5;
      font-size: 1.3rem;
      font-weight: 350;
      margin-left: 4rem;
      margin-bottom: 0;
      margin-top: 8rem;
    }
  }

  .formContain {
    grid-column-start: 2;
    grid-column-end: 2;

    margin-top: 4rem;
  }
}
