.contain {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  .containImage {
    grid-column-start: 1;
    grid-column-end: 2;

    img {
      width: 30rem;
      margin-left: 9rem;
    }

    h1 {
      font-family: Play, sans-serif;
      color: #383434;
      text-decoration: underline;
      font-size: 4rem;
      font-weight: 700;
      margin-left: 15rem;
      margin-bottom: 1rem;
      margin-top: 4rem;
    }
  }

  .formContain {
    grid-column-start: 2;
    grid-column-end: 2;

    margin-top: 4rem;
  }
}
